// * {
//   border: 1px solid red;
// }
.Product_page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .Main_info_box {
    width: 100%;
    height: 785px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: 74px;
    @media (min-width: 320px) and (max-width: 1485px) {
      gap: 0px;
    }
    @media (min-width: 320px) and (max-width: 1485px) {
      height: 481px;
    }
    @media (min-width: 320px) and (max-width: 949px) {
      flex-direction: column;
      height: auto;
      gap: 40px;
    }
    & > div {
      flex: 1 1;
    }
    .Img_box {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #f6f6f6;
      padding: 0 0 0 100px;
      gap: 36px;
      @media (min-width: 320px) and (max-width: 1485px) {
        padding: 0 0 0 50px;
      }
      @media (min-width: 320px) and (max-width: 949px) {
        width: 100%;
        justify-content: space-around;
        height: 500px;
        overflow: hidden;
      }
      @media (min-width: 320px) and (max-width: 581px) {
        gap: 0px;
        padding: 20px 0;
      }
      @media (min-width: 320px) and (max-width: 577px) {
        height: 300px;
        overflow: hidden;
        justify-content: space-between;
        gap: 10px;
        padding: 20px 30px;
      }
      .Img_slider {
        display: flex;

        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        .Navigation_box {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 12px;
          & > div {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          .Active {
            background-color: #3c4242;
            box-shadow: 0.76px 0.76px 3.02px 0px #0000000a;
            color: white;
            transition: 0.4s;
          }
          .Disable {
            background-color: white;
            color: #3c4242;
            box-shadow: 0.76px 0.76px 3.02px 0px #0000000a;
            transition: 0.4s;
          }
        }
        .Mini_img {
          height: 271px;
          overflow: hidden;
          .Slider {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            transition: 0.4s;
            & > div {
              width: 77px;
              height: 77px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 12px;
              img {
                width: 68px;
                height: 68px;
                border-radius: 9px;
              }
            }
            .Active {
              border: 0.76px solid #3c4242;
            }
          }
        }
      }
      .Big_img_box {
        img {
          height: 830px;
          object-fit: cover;
          @media (min-width: 320px) and (max-width: 1485px) {
            height: 501px;
          }
          @media (min-width: 320px) and (max-width: 577px) {
            height: 400px;
          }
          @media (min-width: 320px) and (max-width: 413px) {
            height: 300px;
          }
        }
      }
    }
    .Info_box {
      padding: 0 150px 0 100px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 35px;
      @media (min-width: 320px) and (max-width: 1485px) {
        padding: 0 50px 0 80px;
        gap: 25px;
      }
      @media (min-width: 320px) and (max-width: 1019px) {
        padding: 0 20px;
        gap: 20px;
      }
      @media (min-width: 320px) and (max-width: 949px) {
        width: 100%;
        padding: 30px 20px;
      }
      .Name_box {
        width: 100%;
        h1 {
          color: #3c4242;
          font-size: 34px;
          font-weight: 600;
        }
      }
      .Rating_box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
        .Stars_box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          .Stars {
            display: flex;
            gap: 10px;
          }
          .Rating {
            span {
              color: #807d7e;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
        .Comments_box {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          color: #807d7e;
          font-size: 18px;
          font-weight: 500;
          display: flex;
        }
      }
      .Color_box,
      .Size_box {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .Title_box {
          h1 {
            color: #3f4646;
            font-size: 18px;
            font-weight: 600;
          }
        }
        .Colors_box {
          width: 100%;
          display: flex;
          gap: 10px;
          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            div {
              border-radius: 50%;
            }
          }
        }
        .Sizes_box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          & > div {
            width: 38px;
            height: 38px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            color: #3c4242;
            border: 1.5px solid #bebcbd;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
              color: white;
              background-color: #3c4242;
              border-color: #3c4242;
            }
          }
          .Active {
            color: white;
            background-color: #3c4242;
            border-color: #3c4242;
          }
        }
      }
      .Add_cart_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        .Cart_btn button {
          background-color: #8a33fd;
          border-radius: 8px;
          width: 199px;
          height: 46px;
          padding: 12px 40px;
          gap: 12px;
          border-radius: 8px;
          opacity: 0px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
          transition: 0.4s;
          border: 1px solid transparent;
          white-space: nowrap;
          @media (min-width: 320px) and (max-width: 412px) {
            width: 150px;
            padding: 0;
          }
          svg path {
            transition: 0.4s;
          }
          &:hover {
            background: transparent;
            border-color: #8a33fd;
            color: #8a33fd;
            svg > path {
              stroke: #8a33fd;
            }
          }
        }
        .Price_box {
          color: #3c4242;
          font-size: 18px;
          font-weight: 700;
          width: 138px;
          height: 46px;

          border-radius: 8px;
          cursor: pointer;
          border: 1px solid #3c4242;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.4s;
          &:hover {
            background-color: #3c4242;
            color: white;
          }
        }
      }
      hr {
        width: 100%;
        @media (min-width: 320px) and (max-width: 1406px) {
          display: none;
        }
      }
      .Ship_info_box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 150px;
        row-gap: 26px;
        @media (min-width: 320px) and (max-width: 1406px) {
          display: none;
        }
        @media (min-width: 320px) and (max-width: 1485px) {
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 0px;
          row-gap: 0;
        }
        & > div {
          width: 257px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 15px;
          @media (min-width: 320px) and (max-width: 1485px) {
            width: 200px;
          }
          & > div:first-child {
            border-radius: 50%;
            background-color: #f6f6f6;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            color: #3c4242;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .Description_box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
    @media (min-width: 320px) and (max-width: 734px) {
      padding: 50px;
    }
    @media (min-width: 320px) and (max-width: 616px) {
      padding: 30px;
    }
    .Title_box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .Title {
        h1 {
          color: #3c4242;
          font-size: 28px;
          font-weight: 600;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 26px;
            border-radius: 10px;
            background-color: #8a33fd;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .Description {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      // gap: 100px;
      flex-direction: column;
      gap: 52px;
      .Menu_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: relative;
        @media (min-width: 320px) and (max-width: 586px) {
          gap: 15px;
        }
        @media (min-width: 320px) and (max-width: 506px) {
          flex-direction: column;
          align-items: start;
        }
        & > div a {
          text-decoration: none;
        }

        & > div:nth-child(2) {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          span {
            color: white;
            font-size: 10px;
            font-weight: 500;
            background-color: #8a33fd;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width:320px) and (max-width:506px) {
              font-size: 15px;
              width: 30px;
              height: 30px;
             }
          }
        }
        & > div:nth-child(3) {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          span {
            color: white;
            font-size: 10px;
            font-weight: 500;
            background-color: #3c4242;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width:320px) and (max-width:506px) {
              font-size: 15px;
              width: 30px;
              height: 30px;
             }
          }
        }
        .Active {
          color: #3c4242;
          font-size: 18px;
          font-weight: 500;
          transition: color 0.4s;
          @media (min-width: 320px) and (max-width: 586px) {
            font-size: 15px;
          }
          @media (min-width:320px) and (max-width:506px) {
           font-size: 20px;
           }
        }
        .Disable {
          color: #807d7e;
          font-size: 18px;
          font-weight: 400;
          transition: color 0.4s;
          @media (min-width: 320px) and (max-width: 586px) {
            font-size: 15px;
          }
          @media (min-width:320px) and (max-width:506px) {
            font-size: 20px;
            
            } 
        }
        .Slider {
          position: absolute;
          width: 43px;
          height: 1.4px;
          left: 0;
          bottom: -15px;
          background-color: black;
          transition: 0.4s ease;
          @media (min-width:320px) and (max-width:506px) {
           display: none;
          }
        }
      }

      .Outlet_box {
        @media (min-width: 320px) and (max-width: 762px) {
          width: 100%;
        }
      }
    }
  }
  .Similar_box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    @media (min-width:320px) and (max-width:1749px) {
        padding: 100px 50px;
    }
    @media (min-width:320px) and (max-width:1250px) {
        padding: 100px 30px;
    }
    @media (min-width:320px) and (max-width:806px) {
        padding: 100px 20px;
    }
    & > .Title_box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
        .Title {
          display: flex;
          justify-content: flex-start;
        }
        h1 {
          font-weight: 600;
          font-size: 28px;
          letter-spacing: 2%;
          color: #3c4242;
          margin-left: 50px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 28px;
            border-radius: 10px;
            background: #8a33fd;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
          }
        }
      }
      .Similars {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        &>div {
            width: 350px;
            height: auto;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           gap: 15px;
           @media (min-width:320px) and (max-width:806px) {
            width:100%;
        }
            .Img_box {
                width: 100%;
            aspect-ratio: 1/1;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .Like  {
                    position: absolute;
                    top:30px;
                    right:40px;
                    background-color: white;
                    border-radius: 50%;
                    color: #3C4242;
                    width: 32px;
                    aspect-ratio: 1/1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border: 1px solid transparent;
                    transition: .4s;
                    &:hover {
                        background-color: #3C4242;
                        color: white;
                        border-color: white;
                    }
                }
            }
            .Info_box {
                width: 100%;
                height: auto;
                display: flex;
                align-items: start;
                justify-content: space-between;
                cursor: pointer;
                a {
                  width: 100%;
                  height: auto;
                  display: flex;
                  align-items: start;
                  justify-content: space-between;
                  text-decoration: none;
                  color: #3C4242;
                }
          .Title_box h1 {
            color: #3C4242;
            font-size: 16px;
            font-weight: 600;
          }
          .Price span {
            background-color: #F6F6F6;
            border-radius: 8px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 82px;
            height: 36px;
            color: #3C4242;
            font-size: 14px;
            font-weight: 700;
          }
            }
        }
      }
}
}
