.Set_my_info_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px;

    @media (min-width:320px) and (max-width:1136px) {
        padding: 30px 30px;
    }
    @media (min-width:320px) and (max-width:350px) {
        padding: 20px;
    }
    .Title_container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;

        &>div:first-child h1 {
            font-weight: 600;
            font-size: 28px;
            letter-spacing: 2%;
            color:
                #3C4242;
        }

        &>div:last-child h1 {
            font-weight: 600;
            font-size: 22px;
            letter-spacing: 2%;
            color:
                #3C4242;
        }
    }

    .Set_my_info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        form {
            width: 100%;
            display: grid;
            
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;

            @media (min-width:320px) and (max-width:1000px) {
                grid-column-gap: 50px;
            }

            @media (min-width:320px) and (max-width:916px) {
              display: flex;
              align-items: start;
              flex-direction: column;
            }

            .Delivery_box {
                grid-column: 1/ 3;
                display: flex;
                align-items: start;
                justify-content: center;

                label {
                    color:
                        #3C4242;
                    letter-spacing: 2%;
                    font-size: 18px;
                    font-weight: 600;
                }

                &>div {
                    width: 100%;

                    textarea {
                        resize: none;
                        width: calc(100% - 90px);
                        outline: none;
                        border: none;
                        background-color:
                            #F6F6F6;
                        border-radius: 8px;
                        padding: 17px 22px;
                        height: 149px;
                        transition: .4s;

                        @media (min-width:320px) and (max-width:1000px) {
                            width: 100%;
                        }

                        &:focus {
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);

                        }

                        &::placeholder {
                            font-weight: 400;
                            font-size: 16px;
                            color:
                                #807D7E;

                        }
                    }
                }
            }

            &>div {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
@media (min-width:320px)and (max-width:916px) {
    width: 100%;
}
                label {
                    color:
                        #3C4242;
                    letter-spacing: 2%;
                    font-size: 18px;
                    font-weight: 600;
                }

                .Input_box {
                    width: 100%;

                    input {
                        width: calc(100% - 90px);
                        height: 54px;
                        border-radius: 8px;
                        background-color: #F6F6F6;
                        border: none;
                        padding: 17px 22px;
                        outline: none;
                        transition: .4s;

                        @media (min-width:320px) and (max-width:1000px) {
                            width: 100%;
                        }

                        &:focus {
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);

                        }

                        &::placeholder {
                            font-weight: 400;
                            font-size: 16px;
                            color:
                                #807D7E;

                        }
                    }
                }
            }

            .Checkbox {
                grid-column: 1/3;
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 10px;

                &>div {
                    display: flex;
                    gap: 10px;

                    span {
                        color: #3C4242;
                        font-size: 20px;
                        font-weight: 400;
                    }

                    input {
                        width: 15px;
                    }
                }
            }

            .Submit_box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 20px;

                button {
                    background-color: #8A33FD;
                    padding: 12px 40px;
                    border-radius: 8px;
                    height: 48px;
                    outline: none;
                    border: none;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: .4s;
                    border: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 0;

                    &:hover {
                        border-color: #8A33FD;
                        background-color: transparent;
                        color: #8A33FD;
                    }
                }

                a {
                    text-decoration: none;
                    background-color:
                        #F6F6F6;
                    border-radius: 8px;
                    height: 48px;
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 40px;
                    color:
                        #807D7E;
                    font-size: 20px;
                    font-weight: 700;
                    transition: .4s;
                    border: 1px solid transparent;

                    &:hover {

                        background: #807D7E;
                        color: #F6F6F6;
                    }
                }
            }
        }
    }
}